<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>774100825537-jf8hfempitbgccdme1g5bl9539fneagf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.774100825537-jf8hfempitbgccdme1g5bl9539fneagf</string>
	<key>API_KEY</key>
	<string>AIzaSyDtqKj4Rns0FcGXQ2vhcJLt_IzYlBGrCqY</string>
	<key>GCM_SENDER_ID</key>
	<string>774100825537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medihabit22</string>
	<key>PROJECT_ID</key>
	<string>medihabit-74204</string>
	<key>STORAGE_BUCKET</key>
	<string>medihabit-74204.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774100825537:ios:f8b50cab7523616930eb40</string>
</dict>
</plist>